/.venv
/ad3-2.2.1-cp310-cp310-win_amd64.whl
/build
/Caesar_Cipher
/coolest.gadget.csv
/day10
/Day11
/day12
/Day14
/Day15
/Day16_Classes_Turtle
/Day19_TurtleGraphics
/Day20_sanke1
/day21
/day22_pong
/day23_turtle crossingroad.py
/Day24_workingwith_files_improveSnakeGame
/Day25_CSV_Pandas
/Day26_list_comprehension
/Day27_pomodoro
/Day29_GUI_PasswordManager
/Day30_ErrorHandling_Passwordmanager
/Day31
/Day32_SMTP
/day33
/Day34
/Day35
/Day36
/Day37_POST
/Day38_API
/Day39_CheapFlight_API
/day44_HTML_CSS
/Day45_BeautifulSoup
/Day46
/Day47
/Day48_Selenium
/Day49_selenium
/Day50_Selenium_Tinder
/Day51_Selenium_Twitter
/Day52_Selenium_InstaBot
/Day53_SeleniumBeautifulSoup_Webscraping
/Day54_Flask
/Day55
/Day56
/Day57_Jinja
/Day58_Bootstrap
/Day59 + 60
/Day60
/Day61_Flask-WTF
/Day62_Flask_WTF_Bootstrap
/Day63_SQLite_Flask
/Day64_Top10Movie
/Day66_MakingAPI
/Day67_RESTFul_Routing
/Day68_users_Flask
/Day70_Deploy_Git
/day9
/Day_17_classes
/Day_18_Turtle
/dist
/Hangman_5
/main.py
/main.spec
/main3.py
/oop_coffee_machine_day16
/sahil_insta.py
/Till_day_7
/token.txt